@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f6fa;
}

code {
  font-family: "Roboto", sans-serif;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #1890ff80, #cc00ff80);
  background-size: 120% 120%;
}

.login-form {
  border-radius: 12px;
  background-color: #fff;
  width: 320px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 50px 50px 30px 50px;
}
.login-form .logo {
  width: 100%;
  text-align: center;
}
.login-form .logo img {
  width: 60%;
  margin-bottom: 30px;
}

.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 14px 40px;
}

.container {
  display: flex;
  width: 100%;
}

.container-body {
  width: 100%;
  padding: 24px 40px;
}

.page {
  border-radius: 12px;
  background-color: #fff;
  padding: 24px 30px;
  border: 1px solid #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.page-body {
  padding: 24px 0 0 0;
}

.page-header {
  padding-bottom: 12px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.page-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.not_found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #fff;
  padding: 24px 30px 48px 30px;
  border: 1px solid #f0f0f0;
}
.not_found img {
  object-fit: contain;
  max-height: 45vh;
}
.not_found h1 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #3d3d3d;
  text-transform: uppercase;
  font-size: 18px;
}

.label_text {
  font-size: 12px;
  margin: 0;
  color: #8b8b8b;
}

.cat_card {
  border: 1px solid #f0f0f0;
  margin-top: 24px;
  border-radius: 3px;
}
.cat_card .cat_card_header h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.cat_card .cat_card_header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.cat_card_item {
  border-bottom: 1px solid #f0f0f0;
  padding: 8px 16px;
  color: rgb(117, 117, 117);
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat_card_item p {
  margin: 0;
  color: black;
}
.cat_card_item label {
  font-size: 14px;
}
.cat_card_item:hover {
  background-color: #f5f6fa;
}

.cat_card .cat_card_item:last-child {
  border-bottom: 0;
}
.collapsed_btn {
  position: absolute;

  bottom: 24px;
  right: -12px;
}

.bordered_card {
  border: 1px solid #f0f0f0;
  padding: 24px;
}
.image {
  background-color: #edf2f9;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}
.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.image video {
  object-fit: contain;
  object-position: top;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000099;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}
.loading p {
  margin-left: 12px;
}

.employee_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
